body {
    background-color: white;
    max-width: 600px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

#container {
    padding: 10px;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
}

.a {
    width: 100%;
    display: flex;
    margin-top: -3px;
}

.a>#a1 {
    width: 50%;
}

.a>#a1>img {
    width: 80%;
    height: 85%;
    background-color: white;
    padding: 5px;
}

.a>#a2 {
    width: 50%;
    text-align: center;
}

.phone {
    text-align: center;
    border-style: double;
    background-color: white;
    border-color: black;
    color: black;
    width: 60%;
    margin-left: 38%;
}

#menu {
    display: flex;
    margin-top: 25px;
}

#menu>div {
    text-align: center;
    border-style: double;
    background-color: white;
    border-color: black;
    color: black;
    width: 70%;
    margin-top: 2%;
}

.b {
    width: 100%;
    margin-top: -34px;
}

.c {
    overflow: hidden;
    height: 200px;
    width: 100%;
    margin-top: 5px;
}

.c>.slide>img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.slide {
    width: 100%;
    height: 10%;
    position: relative;
    animation: mymove 20s infinite;
}

@keyframes mymove {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 700px;
    }

    100% {
        bottom: 0px;
    }
}

.d {
    width: 100%;
    display: flex;
    height: 80px;
    margin-top: 5px;
    justify-content: space-between;
}

.d>div {
    width: 24%;
    background-color: wheat;
}

.e {
    width: 100%;
    height: 290px;
    display: flex;
    text-align: center;
    padding-top: 5px;
}

.e>#a3 {
    width: 70%;
}

.e>#a3>div {
    width: 98%;
    height: 270px;
    background-color: wheat;
    padding-top: 10px;
}

.e>#a4 {
    width: 30%;
}

.e>#a4>.a44 {
    width: 100%;
    height: 280px;
    background-color: wheat;
}

.sidebar {
    height: 79%;
    width: 0px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #DCDCDC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar>div {
    padding: 10px;
    font-size: 15px;
    margin-left: -30px;
}

.sidebar>.close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    width: 10px;
}

#main {
    transition: margin-left .5s;
    margin-top: -280px;
}

#main>button {
    background-color: wheat;
    border: 0px solid wheat;
}

#main>button>img {
    width: 60px;
    height: 100%;
    background-color: wheat;
}

.f {
    background-color: #DCDCDC;
    text-align: center;
    width: 98%;
    padding: 5px;
}