body {
    background-color: white;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
}

#container {
    padding: 10px;
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;

}

.a {
    width: 100%;
    display: flex;
}

.a>#a1 {
    width: 50%;
}

.a>#a1>#logo>img {
    width: 80%;
    height: 100%;
    background-color: white;
    padding: 10px;
}

.a>#a2 {
    width: 50%;
    text-align: center;
}

.phone {
    text-align: center;
    border-style: double;
    background-color: white;
    border-color: black;
    color: black;
    width: 60%;
    margin-left: 38%;
}

#menu {
    display: flex;
    margin-top: 25px;
}

#menu>div {
    text-align: center;
    border-style: double;
    background-color: white;
    border-color: black;
    color: black;
    width: 70%;
    margin-top: 2%;
}

.b {
    width: 100%;
    padding-top: 5px;
}

.b>#slide>img {
    height: 200px;
    width: 100%;
}

.c {
    width: 100%;
    height: 380px;
    display: flex;
    text-align: center;
    padding-top: 5px;
}

.c>#a3 {
    width: 70%;
}

.c>#a3>div {
    width: 98%;
    height: 370px;
    background-color: white;
    background-image: url("../img/instagram.png");
    background-repeat: repeat;
    background-size: 50px;
}

.c>#a4 {
    width: 30%;
}

.c>#a4>div {
    width: 100%;
    height: 370px;
    background-color: white;
}

.d {
    background-color: #DCDCDC;
    text-align: center;
    width: 98%;
    padding: 5px;
}