body {
    background-color: black;
}

div#box {
    position: absolute;
    width: 17%;
    height: 520px;
    left: 10%;
    margin-top: 120px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: white;
    text-align: left;
}

.italic-text {
    font-style: italic;
}

img {
    height: 150px;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 33px;
    font-weight: 370;
    color: white;
    text-align: left;
    margin-top: 25px;
    margin-bottom: -7px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 21.5px;
    font-weight: 300;
    color: white;
    text-align: left;
}

div#line1 {
    background-color: white;
    height: 0.15%;
    margin-top: 35px;
}

div#line2 {
    background-color: white;
    height: 0.15%;
    margin-top: 35px;
}

div#line3 {
    background-color: white;
    height: 0.15%;
    margin-top: 60px;
}

div#box1 {
    padding-top: 10px;
    padding-bottom: 50px;
    position: absolute;
    width: 17%;
    height: 520px;
    left: 34%;
    margin-top: 142px;
}

div#box2 {
    padding-top: 10px;
    padding-bottom: 50px;
    position: absolute;
    width: 17%;
    height: 520px;
    left: 53.5%;
    margin-top: 142px;
}

div#box3 {
    padding-top: 10px;
    padding-bottom: 50px;
    position: absolute;
    width: 17.5%;
    height: 520px;
    left: 72.5%;
    margin-top: 142px;
}