#container {
    background-color: #f1f1f1;
    max-width: 1024px;
    margin: auto;
    text-align: center;
}

img {
    height: 200px;
}

.top {
    display: flex;
    background-color: black;
    height: 35px;
    justify-content: space-between;
}

.right {
    display: flex;
    margin-top: 7px;
}

.right>a>img {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.left {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 7px;
}

.left>div>img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.left>div>a {
    color: white;
}

#table {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(129, 255, 186, 0.311);
}

#table>div {
    display: flex;
    width: 33.333%;
}

@media screen and (max-width: 900px) {
    #table>div {
        width: 50%;
    }

    #table>div#c {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #table {
        flex-direction: column;
    }

    #table>div {
        width: 100%;
    }
}