body {
    margin: 0;
}

.navtop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    color: black;
    background-color: white;
    box-shadow: 0 -20px 150px 0 #d9d9d9;
    position: sticky;
    top: 0;
}

.left {
    display: flex;
    margin-left: 2%;
}

.left #title {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-top: 4px;
    margin-left: 10px;
}

.menu {
    display: flex;
    margin-right: 190px;
}

.menu div a:hover {
    color: #068FFF;
}

.menu div {
    padding: 5px;
    text-decoration: none;
    margin-left: 50px;
}

.menu div a {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    text-decoration: none;
    font-weight: 500;
}

.menu #page a {
    color: #068FFF;
}

input[type=checkbox] {
    display: none;
}

.menubar {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: fixed;
        background-color: black;
        left: 0;
        text-align: left;
        margin-top: -53px;
        width: 40%;
        height: 100%;
        opacity: 95%;
    }

    .menu div {
        margin-top: 15px;
        margin-left: 20px;
    }

    .menu div a {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        text-decoration: none;
    }

    .menu div:hover {
        color: #068FFF;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .menubar {
        display: block;
    }
}

.center {
    text-align: center;
    padding: 30px;
    padding-bottom: 80px;
    background: linear-gradient(to right, #8194FF 0%, #789DFE 25%, #72A8FC 50%, #6AB2FE 75%, #63BBFB 100%)
}

.center h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.center #go {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.center #go a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    margin: 8px;
}

.center2 {
    text-align: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
}

.center2 h2 {
    font-size: 40px;
    font-weight: 600;
}

.center2 p {
    line-height: 1.5;
    font-size: 15px;
    font-weight: 300;
    margin-top: -20px;
}

.center3 h2 {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 5%;
}

.center4 {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -1%;
}

.center4 .item {
    flex: 25%;
    padding: 20px;
}

.center4 .item h2 {
    font-size: 17px;
    font-weight: 600;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7%;
    padding: 60px;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background: linear-gradient(to right, #8194FF 0%, #789DFE 25%, #72A8FC 50%, #6AB2FE 75%, #63BBFB 100%)
}

.bottomin {
    flex: 100%;
}

.bottomin h2 {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: -1%;
}

.thing {
    flex: 25%;
    padding: 20px;
    text-align: center;
}

.thing h2 {
    font-size: 17px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1200px) {
    .thing {
        flex: 40%;
    }
}

@media screen and (max-width: 600px) {
    .center3 .item {
        flex: 100%;
    }

    .thing {
        flex: 100%;
    }
}